<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>am register</title>
</head>

<body>
<h3 style="background-color:lavender;">Register</h3>
<form action="" method="post">
    <input type="text" name="username" placeholder="enter ypur user name"><br>
    <input type="text" name="first name" placeholder="enter your first name"><br>
    <input type="text" name="last name" placeholder="enter your last name"><br>
    <input type="email" name="e-mail" placeholder="enter your user email"><br>
    <input type="password" name="password" placeholder="enter your user password"><br>
    <input type="password" name="password1" placeholder="enter your user confirm password"><br>
    <input type="submit">

</form>

</body>
</html>